.idea/*
__pycache__
sprawozdanie/sprawozdanie.aux
sprawozdanie/sprawozdanie.fdb_latexmk
sprawozdanie/sprawozdanie.fls
sprawozdanie/sprawozdanie.log
sprawozdanie/sprawozdanie.synctex.gz
MN_proj2_171619.zip